In [32]:
import pandas as pd

In [33]:
df = pd.read_csv("sales_data.csv")

In [34]:
df.duplicated().any()

np.False_

In [35]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [sales_id, product_id, store_id, quantity, price, sale_date, region]
Index: []