In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("sales_data.csv")

In [8]:
df[df.duplicated(keep=False)]

   sales_id  product_id  store_id  quantity  price   sale_date region
0         1         101         1        10   15.0  2024-09-01   High
1         1         101         1        10   15.0  2024-09-01   High
2         2         102         1         5   25.0  2024-09-01    Low
3         2         102         1         5   25.0  2024-09-01    Low
4         3         103         2         7   20.0  2024-09-02   High
5         3         103         2         7   20.0  2024-09-02   High